<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
</head>
<body>
    <div class="panel-body">
        <div class="masina-container">
            <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
                <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
                    <img class="img-responsive" ng-src="{{slide.image}}" style="margin:auto;" alt="{{slide.text}}">
                    <div class="carousel-caption">
                        <p>{{slide.text}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
