<!-- content set for about us page -->
<div style="font-size: 32px">
    <div class="row" style="background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
                            url('resources/diapo_date2.jpg');
                            background-repeat: no-repeat;  background-size: cover;
                            background-position: center; background-attachment: fixed;">

        <div style="text-align:center; padding-bottom:100px;   font-family: 'Open Sans', sans-serif;">
            <h1 style="color:white">Despre <strong>Opentrans SRL</strong></h1>
            <br>

            <div style="font-size:15px; color:white; padding-left:10%; padding-right:10%; font-family:  sans-serif;">
               <div  style="background-color:rgba(0, 0, 0, 0.5); z-index:0; padding-bottom:10px; padding-top:10px">
                <p>
                    Societatea Opentrans S.R.L. a luat fiinta in anul 2003, avand ca obiect de activitate transportul de marfuri si inchirierea de utilaje de constructii.
                </p>

                <p> Detinem o gama larga de utilaje, putand astfel sa va acoperim orice necesitate in ceea ce priveste mecanizarea pentru santierele dumneavoastra.</p>

                <p> Pe o piata in continua dezvoltare, misiunea noastra este sa acoperim o nisa de piata prin oferirea serviciilor de calitate cu echipamente adecvate.</p>

                <p> Ne reprezinta seriozitatea, oferim maxima siguranta si incredere!</p>

                <p> Suntem la dispozitia clientului pentru a-l ajuta sa gaseasca intotdeauna utilajul cel mai eficient pentru munca pe care o desfasoara, tratand fiecare cerere de oferta cu seriozitate si atentie maxima, sperand astfel sa fim vazuti de clientii nostri ca o parte importanta a succesului proiectelor lor, datorita sigurantei si increderii pe care o oferim.</p>
           </div>
             </div>
        </div>
    </div>
    <!-- <h2  class="label label-success">{{message}}</h2>-->
</div>