<div>

    <!--TODO: verifica cu dan-->
    <!--<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
    <div style="font-size: 32px">
        <div class="row" style="background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
                            url('resources/diapo_date2.jpg');
                            background-repeat: no-repeat;  background-size: cover;
                            background-position: center; background-attachment: fixed;">

            <div style="text-align:center; padding-bottom:100px;   font-family: 'Open Sans', sans-serif;">
                <h1 style="color:white">Despre <strong>Opentrans SRL</strong></h1>
                <br>

                <div style="font-size:15px; color:white; padding-left:10%; padding-right:10%; font-family:  sans-serif;">
                    <div style="background-color:rgba(0, 0, 0, 0.5); z-index:0; padding-bottom:10px; padding-top:10px">
                         <p>
                             <br />
                            OPENTRANS S.R.L., activează pe piața din România din anul 2003 și acoperă un spectru larg de activități, în următoarele domenii: lucrări de construcţii de drumuri şi autostrăzi, construcții civile și industriale, precum și instalații complexe, respectiv prepararea și comercializarea betoanelor și a mixturilor asfaltice, inclusiv servicii de închiriere utilaje și transport rutier de mărfuri.
                            Suntem într-o permanentă dezvoltare, în încercarea de a veni mereu în întâmpinarea nevoilor clienților noștri oferindu-le servicii de calitate. Astfel, în anul 2016 am obținut autorizația eliberată de Inspectoratul de Stat în Construcții pentru Laboratorul de analize și încercări în construcții - gradul II.
                            Bazându-ne pe flexibilitatea, profesionalismul și seriozitatea întregului personal, prin serviciile și lucrările realizate, am devenit un partener credibil pentru dezvolatarea infrastructurii naționale și pentru investitorii privați din sectoarele imobiliare și industriale, dar și un concurent pentru companiile cu același domeniu de activitate.
                            S.C. OPENTRANS S.R.L. are implementate propriile sisteme de management al calităţii, mediului şi sănătăţii şi securităţii în muncă şi este certificată SR EN ISO 9001:2008, SR EN ISO 14001:2004, OHSAS 18001:2007.
                        </p>

                        <!--<h4>Închiriere utilaje</h4>
                        <p> Societatea dispune de un parc propriu de utilaje, echipamente și autovehicule de înaltă performanță, cu care se poate executa la termen orice lucrare de construcții, acoperind astfel orice necesitate în ceea ce privește auto-utilajele pentru șantierul dumneavoastră.
Pe o piață în continuă dezvoltare, misiunea noastră este să acoperim o nișă de piață prin oferirea serviciilor de calitate cu echipamente adecvate.
Suntem la dispoziția clientului pentru a-l ajuta să găsească întotdeauna utilajul cel mai eficient pentru munca pe care o desfășoară, tratând fiecare cerere de ofertă cu seriozitate și atenție maximă, sperând astfel să fim văzuți de clienții noștri ca o parte importantă a succesului proiectelor lor, datorită siguranței și încrederii pe care o oferim.
</p>

                        <h4>Producție și livrare beton</h4>
                        <p> Utilizând o stație de preparare a betoanelor mobilă ELBA, model ELMC 105, capacitate 105 mc/ oră, complet automatizată, cu dozarea computerizată a materialelor, vă oferim toate clasele de betoane, inclusiv betoane rutiere. Betoanele sunt livrate conform specificațiilor din comandă, în conformitate cu normativele tehnice în vigoare.
Toate betoanele livrate sunt însoțite de declarații de performanță, conform rețetelor verificate în laboratorul nostru autorizat.
</p>

                        <h4>Execuție lucrări de drumuri și poduri</h4>
                        <p> Realizăm lucrări de infrastructură pentru transport, în speță construcții și reabilitări de drumuri și poduri, utilizând materiale de cea mai bună calitate aprovizionate printr-o reţea de furnizori atent verificată, cu personal de specialitate angajat, respectiv cu utilaje şi autovehicule aflate în proprietatea firmei, toate aceste aspecte având o mare influență asupra prețului/ tarifului final.
Având în vedere experiența anterioară, OPENTRANS, are convingerea că poate realiza orice proiect în cele mai bune condiții, în ceea ce privește calitatea și în termenii precizați de beneficiar.
</p>

                        <h4>Amenajări exterioare</h4>
                        <p> Societatea noastră execută lucrări de amenajări exterioare, care includ atât lucrări de terasamente, precum și lucrări de asfaltare și pavare pentru alei, trotuare, zone de acces pietonal și parcări. Acestea nu au doar rol structural și estetic, ci îndeplinesc deasemenea și funcțiuni tehnice precum dirijarea și evacuarea apelor pluviale din jurul clădirilor.</p>
                    
                        <h4> Construcții civile, industriale și agricole  </h4> 
                        <p>Executăm lucrări de construcții civile, industriale și agricole cu structură de rezistență metalică sau din beton, respectiv lucrări de reabilitare a clădirilor rezidențiale și nerezidențiale.
Personalul de specialitate are o vastă experiență în execuția lucrărilor de construcții.
Scopul nostru este de a finaliza lucrările contractate în termenele asumate, respectând normele tehnice în vigoare și proiectul tehnic de execuție, adaptat cerințelor beneficiarului.
</p>

                        <h4> Lucrări de instalații  </h4>
                        <p>Un alt sector de activitate al OPENTRANS, îl reprezintă realizarea rețelelor și instalațiilor tehnico-sanitare, rețelelor și instalațiilor de utilizare gaz metan, rețelelor de apă și canal, ventilație și climatizare, precum și al montajului de echipamente și utilaje tehnologice pentru consumatori industriali, comerciali sau casnici. </p>

                        <h4>Laborator de încercări</h4>
                        <p>Deținem laborator de analize și încercări pentru construcții – gradul II, autorizat conform standardului de referință SR EN ISO/ CEI 17025:2005/ AC:2007. Efectuăm încercări pentru ANCFD - agregate naturale pentru lucrări de CF și drumuri, BBABP - pentru beton, beton armat și beton precomprimat, D – drumuri, F – finisaje, GTF – geotehnică și teren de fundare, MBM – materiale pentru beton și mortare, MD – material pentru drumuri și MTZ – mortare pentru tencuieli și zidării.</p>-->
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
