<div>
    <style>
        @media (max-width:1200px) {
            .despre{padding-left:3%; padding-right:3%;
            }
        }

        @media (min-width:1200px) {
           .despre{ line-height:1.8; font-size:17px; padding-left:10%; padding-right:10%;}
        }
    </style>

    <div style="font-size: 32px">
        <div class="row" style="background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
                            url('resources/diapo_date2.jpg');
                            background-repeat: no-repeat;  background-size: cover;
                            background-position: center; background-attachment: fixed;">

            <div style="text-align:center; padding-bottom:100px;   font-family: 'Open Sans', sans-serif;">
                <h1 style="color:white">Despre <strong>Opentrans SRL</strong></h1>
                <br>

                <div style="font-size:15px; color:white;  font-family:  sans-serif;"class="despre">
                    <div style="background-color:rgba(0, 0, 0, 0.5); z-index:0; padding-bottom:10px; padding-top:10px">
                        <p style="text-align: left; padding-left:10px; padding-right:10px;" >
                            <br />
                            OPENTRANS S.R.L., activeaza pe piata din România din anul 2003 si acopera un spectru larg de activitati, in urmatoarele domenii: lucrari de constructii de drumuri si autostrazi, constructii civile si industriale, precum si instalatii complexe, respectiv prepararea si comercializarea betoanelor si a mixturilor asfaltice, inclusiv servicii de inchiriere utilaje si transport rutier de marfuri.
                            Suntem intr-o permanenta dezvoltare, in incercarea de a veni mereu in intâmpinarea nevoilor clientilor nostri oferindu-le servicii de calitate. Astfel, in anul 2016 am obtinut autorizatia eliberata de Inspectoratul de Stat in Constructii pentru Laboratorul de analize si incercari in constructii - gradul II.
                            Bazându-ne pe flexibilitatea, profesionalismul si seriozitatea intregului personal, prin serviciile si lucrarile realizate, am devenit un partener credibil pentru dezvoltarea infrastructurii nationale si pentru investitorii privati din sectoarele imobiliare si industriale, dar si un concurent pentru companiile cu acelasi domeniu de activitate.
                            S.C. OPENTRANS S.R.L. are implementate propriile sisteme de management al calitatii, mediului, sanatatii si securitatii in munca si este certificata SR EN ISO 9001:2008, SR EN ISO 14001:2004, OHSAS 18001:2007.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
