
<div id="contact" class="contact" ng-controller="ContactCtrl as vm">
    <div class="row" style="margin-bottom:15px;">
        <div class="col-md-4" id="box" style="text-align:left">
            <h2 class="callToAction">Adresa contact</h2>
            <p style="font-size:1.5em">
                <strong>S.C. OPENTRANS S.R.L</strong><br>
                <i class="glyphicon glyphicon-map-marker"></i> Cluj Napoca, Str. Cantonului 9<br><br>
                <i class="glyphicon glyphicon-home"></i> Coroieni nr. 141, jud. Maramures <br><br>
                <i class="glyphicon glyphicon-cloud"></i> web: www.opentrans.ro<br><br>
                <a href="https://www.facebook.com/opentransSRL"><i class="fa fa-facebook-square" aria-hidden="true"></i> facebook/opentransSRL</a>
            </p>
        </div>

        <div class="col-md-4 departamente" id="box" style="text-align:left">
            <ul>
                <li>
                    Secretariat
                    <br>
                    <i class="glyphicon glyphicon-phone"></i> 0756 029 861
                    <br>
                    <i class="glyphicon glyphicon-phone"></i> 0756 720 355
                    <br>
                    <i class="glyphicon glyphicon-envelope"></i> office@opentrans.ro
                </li>

                <li>
                    Departament Ofertare
                    <br>
                    <i class="glyphicon glyphicon-phone"></i> 0758 041 735
                    <br>
                    <i class="glyphicon glyphicon-envelope"></i> ofertare@opentrans.ro
                </li>

                <li>
                    Departament Vanzari Beton
                    <br>
                    <i class="glyphicon glyphicon-phone"></i> 0730 003 267
                    <br>
                    <i class="glyphicon glyphicon-envelope"></i> ioan.lohan@opentrans.ro
                </li>
                <li>
                    Departament Inchirieri
                    <br>
                    <i class="glyphicon glyphicon-phone"></i> 0745 374 105
                    <br>
                    <i class="glyphicon glyphicon-envelope"></i> inchirieri@opentrans.ro
                </li>
                <li>
                    Departament Contabilitate
                    <br>
                    <i class="glyphicon glyphicon-phone"></i> 0756 714 789
                    <br>
                    <i class="glyphicon glyphicon-envelope"></i> contabilitate@opentrans.ro
                </li>
            </ul>
        </div>

        <div class="col-md-4" id="box">
            <h2>Contactati-ne pentru orice informatie.</h2>


            <div class="alert alert-success fade in" ng-show="vm.showSuccesAlert">
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                <p> Mesajul a fost trimis cu succes! Veti fi contactat in cel mai scurt timp.</p>
            </div>

            <div class="alert alert-danger fade in" ng-show="vm.showErrorAlert">
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                <strong></strong> <p> Mesajul nu a putut fi trimis! Va rugam sa ne contactati telefonic.</p>
            </div>


            <form class="form-horizontal" name="contactForm" novalidate>
                <fieldset>
                    <div class="form-group">
                        <div class="col-md-12" ng-class="{ 'has-error' : contactForm.first_name.$invalid && !contactForm.first_name.$pristine }">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input name="first_name" placeholder="Nume" ng-model="vm.name" class="form-control" type="text">
                            </div>
                            <!--<span ng-show="contactForm.first_name.$invalid && !contactForm.first_name.$pristine" class="help-block">Username is required.</span>-->
                        </div>
                    </div>
                    <!-- Text input-->
                    <div class="form-group">
                        <div class="col-md-12">
                            <!--ng-class="{ 'has-error' : contactForm.email.$invalid && !contactForm.email.$pristine }-->
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                <input name="email" placeholder="Adresa de e-mail" ng-model="vm.email" class="form-control" type="text">   <!--ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/"-->
                            </div>
                            <!--<span ng-show="contactForm.email.$invalid && !contactForm.email.$pristine" class="help-block"> Enter a valid email.</span>-->
                        </div>
                    </div>
                    <!-- Text input-->
                    <div class="form-group" ng-class="{ 'has-error' : contactForm.phone.$invalid && !contactForm.phone.$pristine }">
                        <div class="col-md-12">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                                <input type="text" class="form-control" ng-model="vm.phone" name="phone" ng-maxlength="10" ng-minlength="10" placeholder="07xxxxxxxx" required>
                            </div>
                            <span ng-show="contactForm.phone.$invalid && !contactForm.phone.$pristine">Numarul de telefon este obligagotriu.</span>
                        </div>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error' : contactForm.comment.$invalid && !contactForm.comment.$pristine }">
                        <div class="col-md-12 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                <textarea class="form-control" ng-model="vm.message" rows="6" name="comment" placeholder="Informatia dorita" ng-maxlength="255" ng-minlength="10" required></textarea>
                            </div>
                            <span ng-show="contactForm.comment.$invalid && !contactForm.comment.$pristine" class="help-block"> Enter a Message.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-warning pull-right" ng-disabled="contactForm.$invalid" ng-click="vm.send()">
                                Send<span class="glyphicon glyphicon-send"></span>
                            </button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <div class="row" id="box">
        <div id="map"></div>
        <script>
            function initMap() {
                var uluru = { lat: 46.779769, lng: 23.697529 };
                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 16,
                    center: uluru,
                    styles: [
                              {
                                  "elementType": "geometry",
                                  "stylers": [
                                    {
                                        "color": "#242f3e"
                                    }
                                  ]
                              },
                              {
                                  "elementType": "labels.text.fill",
                                  "stylers": [
                                    {
                                        "color": "#746855"
                                    }
                                  ]
                              },
                              {
                                  "elementType": "labels.text.stroke",
                                  "stylers": [
                                    {
                                        "color": "#242f3e"
                                    }
                                  ]
                              },
                              {
                                  "featureType": "administrative.locality",
                                  "elementType": "labels.text.fill",
                                  "stylers": [
                                    {
                                        "color": "#d59563"
                                    }
                                  ]
                              },
                              {
                                  "featureType": "poi",
                                  "elementType": "labels.text.fill",
                                  "stylers": [
                                    {
                                        "color": "#d59563"
                                    }
                                  ]
                              },
                              {
                                  "featureType": "poi.park",
                                  "elementType": "geometry",
                                  "stylers": [
                                    {
                                        "color": "#263c3f"
                                    }
                                  ]
                              },
                              {
                                  "featureType": "poi.park",
                                  "elementType": "labels.text.fill",
                                  "stylers": [
                                    {
                                        "color": "#6b9a76"
                                    }
                                  ]
                              },
                              {
                                  "featureType": "road",
                                  "elementType": "geometry",
                                  "stylers": [
                                    {
                                        "color": "#38414e"
                                    }
                                  ]
                              },
                              {
                                  "featureType": "road",
                                  "elementType": "geometry.stroke",
                                  "stylers": [
                                    {
                                        "color": "#212a37"
                                    }
                                  ]
                              },
                              {
                                  "featureType": "road",
                                  "elementType": "labels.text.fill",
                                  "stylers": [
                                    {
                                        "color": "#9ca5b3"
                                    }
                                  ]
                              },
                              {
                                  "featureType": "road.highway",
                                  "elementType": "geometry",
                                  "stylers": [
                                    {
                                        "color": "#746855"
                                    }
                                  ]
                              },
                              {
                                  "featureType": "road.highway",
                                  "elementType": "geometry.stroke",
                                  "stylers": [
                                    {
                                        "color": "#1f2835"
                                    }
                                  ]
                              },
                              {
                                  "featureType": "road.highway",
                                  "elementType": "labels.text.fill",
                                  "stylers": [
                                    {
                                        "color": "#f3d19c"
                                    }
                                  ]
                              },
                              {
                                  "featureType": "transit",
                                  "elementType": "geometry",
                                  "stylers": [
                                    {
                                        "color": "#2f3948"
                                    }
                                  ]
                              },
                              {
                                  "featureType": "transit.station",
                                  "elementType": "labels.text.fill",
                                  "stylers": [
                                    {
                                        "color": "#d59563"
                                    }
                                  ]
                              },
                              {
                                  "featureType": "water",
                                  "elementType": "geometry",
                                  "stylers": [
                                    {
                                        "color": "#17263c"
                                    }
                                  ]
                              },
                              {
                                  "featureType": "water",
                                  "elementType": "labels.text.fill",
                                  "stylers": [
                                    {
                                        "color": "#515c6d"
                                    }
                                  ]
                              },
                              {
                                  "featureType": "water",
                                  "elementType": "labels.text.stroke",
                                  "stylers": [
                                    {
                                        "color": "#17263c"
                                    }
                                  ]
                              }
                    ]
                });
                var marker = new google.maps.Marker({
                    position: uluru,
                    map: map
                });
            }
        </script>

        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2E-6gJDnLo4QgEJfrZmUCyONfH09fb4Y&callback=initMap"
                async defer>
        </script>

        <style>
            #map {
                height: 400px;
                width: 100%;
            }
        </style>
    </div>
</div>