<!-- content set for home page -->
<div class="row home">
  <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12">
    <div class="row">
      <div class="cover" ng-class="{hovered: hoverEdit3, 'not-hovered': hoverEdit4}" ng-mouseover="hoverEdit3 = true" ng-mouseleave="hoverEdit3 = false" style="background-image:url('http://www.michaelmolloy.co.uk/construction-photography/photographs/intro/large/construction-site.jpg');"></div>
      <div class="cover" ng-class="{hovered: hoverEdit4, 'not-hovered': hoverEdit3}" ng-mouseover="hoverEdit4 = true" ng-mouseleave="hoverEdit4 = false" style="background-image:url('http://orig13.deviantart.net/befa/f/2014/190/e/8/img_2388_89_90_tonemapped_by_wadcutter-d7pvqvc.jpg');"></div>
    </div>
    <div class="row">
      <div class="cover" ng-class="{hovered: hoverEdit, 'not-hovered': hoverEdit2}" ng-mouseover="hoverEdit = true" ng-mouseleave="hoverEdit = false" style="background-image:url('http://www.colas.com/sites/default/files//pushs/151066_r.gif');"></div>
      <div class="cover" ng-class="{hovered: hoverEdit2, 'not-hovered': hoverEdit}" ng-mouseover="hoverEdit2 = true" ng-mouseleave="hoverEdit2 = false" style="background-image:url('http://www.colas.com/sites/default/files//pushs/bloc_02.16.rh_home_dsc_4961_0.jpg');"></div>
    </div>
    <!--<div class="row">
      <div class="col-md-6 cover cover-left" ng-class="{'col-md-7': hover.left, 'col-md-5': hover.right}" ng-mouseenter="hover.left = true;" ng-mouseleave="hover.left = false;">
      </div>
      <div class="col-md-6 cover cover-right" ng-class="{'col-md-5': hover.left, 'col-md-7': hover.right}" ng-mouseenter="hover.left = false;" ng-mouseleave="hover.left = true;">>
      </div>
    </div>-->
  </div>
</div>