<html>
<head>
    <title>
        Pagina principala Opentrans SRL CLuj Napoca
    </title>
    <meta name="description" content="Inchirieri utilaje Cluj Napoca. Constructii civile si industriale. Productie si livrare beton. Drumuri si poduri.">
</head>

<body>
    <div id="home">
        <style type="text/css">
            @media (max-width:1300px) {
                #home .floatingmenu {
                    display: none;
                }
            }

            #home .floatingmenu {
                position: fixed;
                left: 0;
                top: 10%;
                height: 90%;
                z-index: 5;
            }

                #home .floatingmenu ul li button {
                    font-size: 16px;
                    text-align: right;
                    width: 190px;
                    padding: 4px;
                    margin-left: 5px;
                }

            @media (min-width:1300px) {
                #home .floatingmenu ul li button {
                    font-size: 13px;
                    width: 130px;
                }
            }

            @media (min-width:1400px) {
                #home .floatingmenu ul li button {
                    font-size: 13px;
                    width: 140px;
                }
            }

            @media (min-width:1500px) {
                #home .floatingmenu ul li button {
                    font-size: 14px;
                    width: 150px;
                }
            }

            @media (min-width:1600px) {
                #home .floatingmenu ul li button {
                    font-size: 15px;
                    width: 160px;
                }
            }

            @media (min-width:1720px) {
                #home .floatingmenu ul li button {
                    font-size: 15px;
                    width: 160px;
                }
            }

            @media (min-width:1750px) {
                #home .floatingmenu ul li button {
                    font-size: 15px;
                    width: 180px;
                }
            }

            @media (min-width:1850px) {
                #home .floatingmenu ul li button {
                    font-size: 16px;
                    width: 190px;
                }
            }


            @media (min-width:1750px) {
                #home .floatingmenu .break {
                    display: none;
                }
            }

            @media (max-width:1300px) {
                #home .hidemobile {
                    display: none;
                }

                #home .showmobile {
                    display: inline;
                }
            }

            @media (min-width:1300px) {
                #home .hidemobile {
                    display: inline;
                }

                #home .showmobile {
                    display: none;
                }
            }
        </style>
        <div class="floatingmenu">
            <ul class="nav nav-pills nav-stacked nav-float">
                <li ng-click="goToPage('root.inchiriereutilaje')">
                    <button class="btn btn-default">Inchirieri utilaje</button>
                </li>
                <li ng-click="goToPage('root.inchiriereutilaje')">
                    <button class="btn btn-default">Productie si livrare<br class="break" /> beton</button>
                </li>
                <li ng-click="goToPage('root.portofoliu')">
                    <button class="btn btn-default">Executie lucrari de<br />drumuri si poduri</button>
                </li>
                <li ng-click="goToPage('root.portofoliu')">
                    <button class="btn btn-default">Amenajari exterioare</button>
                </li>
                <li ng-click="goToPage('root.portofoliu')">
                    <button class="btn btn-default">Constructii civile,<br />industriale si agricole</button>
                </li>
                <li ng-click="goToPage('root.portofoliu')">
                    <button class="btn btn-default">Lucrari de instalatii</button>
                </li>
                <li scroll-on-click href="#laboratordeincercari">
                    <button class="btn btn-default">Laborator de incercari</button>
                </li>
            </ul>
        </div>
        <div class="row home">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12">
                <div class="row">
                    <div class="cover"
                         style="background-image:url('./resources/poza prezentare utilaje.jpg'); background-position: center;"
                         ng-class="{hovered: hoverEdit3, 'not-hovered': hoverEdit4}"
                         ng-mouseover="hoverEdit3 = true" ng-mouseleave="hoverEdit3 = false"
                         ng-click="goToPage('root.inchiriereutilaje')">
                        <h2>Inchiriere utilaje</h2>
                        <div class="pull-down description">
                            <!--<p class="description-text hidemobile">
                                Societatea dispune de un parc propriu de utilaje, echipamente si autovehicule de inalta performanta, cu care se poate executa la termen orice lucrare de constructii, acoperind astfel orice necesitate in ceea ce priveste auto-utilajele pentru santierul dumneavoastra.
                                Pe o piata in continua dezvoltare, misiunea noastra este sa acoperim o nisa de piata prin oferirea serviciilor de calitate cu echipamente adecvate.
                                Suntem la dispozitia clientului pentru a-l ajuta sa gaseasca intotdeauna utilajul cel mai eficient pentru munca pe care o desfasoara, tratând fiecare cerere de oferta cu seriozitate si atentie maxima, sperând astfel sa fim vazuti de clientii nostri ca o parte importanta a succesului proiectelor lor, datorita sigurantei si increderii pe care o oferim.
                            </p>
                            <p class="description-text showmobile">-->
                            <p class="description-text">
                                Societatea dispune de un parc propriu de utilaje, echipamente si autovehicule de inalta performanta, cu ajutorul carora se poate executa orice lucrare de constructii.
                                Suntem la dispozitia clientului pentru a-l ajuta sa gaseasca utilajul cel mai eficient pentru indeplinirea obiectivelor.
                            </p>
                        </div>
                    </div>
                    <div class="cover" ng-class="{hovered: hoverEdit4, 'not-hovered': hoverEdit3}"
                         ng-mouseover="hoverEdit4 = true" ng-mouseleave="hoverEdit4 = false"
                         style="background-image:url('./resources/Productie si livrare beton 2.jpeg'); background-position: left;"
                         ng-click="goToPage('root.inchiriereutilaje')">
                        <h2 class="">Productie si livrare beton</h2>
                        <div class="pull-down description">
                            <!--<p class="description-text hidemobile">
                                Utilizând o statie de preparare a betoanelor mobila ELBA, model ELMC 105, capacitate 105 mc/ ora, complet automatizata, cu dozarea computerizata a materialelor, va oferim toate clasele de betoane, inclusiv betoane rutiere. Betoanele sunt livrate conform specificatiilor din comanda, in conformitate cu normativele tehnice in vigoare.
                                Toate betoanele livrate sunt insotite de declaratii de performanta, conform retetelor verificate in laboratorul nostru autorizat.
                            </p>
                            <p class="description-text showmobile">-->
                            <p class="description-text">
                                Utilizand o statie de preparare a betoanelor mobila ELBA, model ELMC 105, capacitate 105 mc/ ora, complet automatizata, cu dozarea computerizata a materialelor, va oferim toate clasele de betoane, inclusiv betoane rutiere.
                                Betoanele sunt livrate conform specificatiilor din comanda,  insotite de declaratii de performanta.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="cover" ng-class="{hovered: hoverEdit, 'not-hovered': hoverEdit2}"
                         ng-mouseover="hoverEdit = true" ng-mouseleave="hoverEdit = false"
                         style="background-image:url('./resources/drumuri si poduri.gif');"
                         ng-click="goToPage('root.portofoliu')">
                        <h2>Executie lucrari de drumuri si poduri</h2>
                        <div class="pull-down description">
                            <!--<p class="description-text hidemobile">
                                Realizam lucrari de infrastructura pentru transport, in speta constructii si reabilitari de drumuri si poduri, utilizând materiale de cea mai buna calitate aprovizionate printr-o retea de furnizori atent verificata, cu personal de specialitate angajat, respectiv cu utilaje si autovehicule aflate in proprietatea firmei, toate aceste aspecte având o mare influenta asupra pretului/ tarifului final.
                                Având in vedere experienta anterioara, OPENTRANS, are convingerea ca poate realiza orice proiect in cele mai bune conditii, in ceea ce priveste calitatea si in termenii precizati de beneficiar.
                            </p>
                            <p class="description-text showmobile">-->
                            <p class="description-text">
                                Realizam lucrari de infrastructura pentru transport, in speta constructii si reabilitari de drumuri si poduri.
                                Avand in vedere experienta anterioara, personalul de specialitate angajat, respectiv utilajele si autovehiculele aflate in proprietatea firmei, OPENTRANS, are convingerea ca poate realiza orice proiect in cele mai bune conditii, in ceea ce priveste calitatea si in termenii precizati de beneficiar.
                            </p>
                        </div>
                    </div>
                    <div class="cover" ng-class="{hovered: hoverEdit2, 'not-hovered': hoverEdit}"
                         ng-mouseover="hoverEdit2 = true" ng-mouseleave="hoverEdit2 = false"
                         style="background-image:url('./resources/Amenajari exterioare.jpeg');"
                         ng-click="goToPage('root.portofoliu')">
                        <h2>Amenajari exterioare</h2>
                        <div class="pull-down description">
                            <!--<p class="description-text hidemobile">
                                Societatea noastra executa lucrari de amenajari exterioare, care includ atât lucrari de terasamente, precum si lucrari de asfaltare si pavare pentru alei, trotuare, zone de acces pietonal si parcari. Acestea nu au doar rol structural si estetic, ci indeplinesc deasemenea si functiuni tehnice precum dirijarea si evacuarea apelor pluviale din jurul cladirilor.
                            </p>
                            <p class="description-text showmobile">-->
                            <p class="description-text">
                                Executam lucrari de amenajari exterioare, care includ atat lucrari de terasamente, cat si lucrari de asfaltare, pavare alei, trotuare, zone de acces pietonal si parcari.
                                Amenajarile exterioare nu au doar rol structural si estetic, ci indeplinesc deasemenea si functiuni tehnice precum dirijarea si evacuarea apelor pluviale din jurul cladirilor.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="cover" ng-class="{hovered: hoverEdit5, 'not-hovered': hoverEdit6}"
                         ng-mouseover="hoverEdit5 = true" ng-mouseleave="hoverEdit5 = false"
                         style="background-image:url('./resources/constructii civile industriale si agricole.jpg');"
                         ng-click="goToPage('root.portofoliu')">
                        <h2>Constructii civile, industriale si agricole</h2>
                        <div class="pull-down description">
                            <!--<p class="description-text hidemobile">
                                Executam lucrari de constructii civile, industriale si agricole cu structura de rezistenta metalica sau din beton, respectiv lucrari de reabilitare a cladirilor rezidentiale si nerezidentiale.
                                Personalul de specialitate are o vasta experienta in executia lucrarilor de constructii.
                                Scopul nostru este de a finaliza lucrarile contractate in termenele asumate, respectând normele tehnice in vigoare si proiectul tehnic de executie, adaptat cerintelor beneficiarului.
                            </p>
                            <p class="description-text showmobile">-->
                            <p class="description-text">
                                Executam lucrari de constructii civile, industriale si agricole cu structura de rezistenta metalica, din beton sau mixta, respectiv lucrari de reabilitare a cladirilor rezidentiale si nerezidentiale.
                                Scopul nostru este de a finaliza lucrarile contractate in termenele asumate, respectand normele tehnice in vigoare si proiectul tehnic de executie, adaptat cerintelor beneficiarului.
                            </p>
                        </div>
                    </div>
                    <div class="cover" ng-class="{hovered: hoverEdit6, 'not-hovered': hoverEdit5}"
                         ng-mouseover="hoverEdit6 = true" ng-mouseleave="hoverEdit6 = false"
                         style="background-image:url('./resources/retea-apa.jpg');"
                         ng-click="goToPage('root.portofoliu')">
                        <h2>Lucrari de instalatii</h2>
                        <div class="pull-down description">
                            <!--<p class="description-text hidemobile">
                                Un alt sector de activitate al OPENTRANS, il reprezinta realizarea retelelor si instalatiilor tehnico-sanitare, retelelor si instalatiilor de utilizare gaz metan, retelelor de apa si canal, ventilatie si climatizare, precum si al montajului de echipamente si utilaje tehnologice pentru consumatori industriali, comerciali sau casnici.
                            </p>
                            <p class="description-text showmobile">-->
                            <p class="description-text">
                                Un alt sector de activitate al OPENTRANS il reprezinta realizarea retelelor si instalatiilor tehnico-sanitare, retelelor si instalatiilor de utilizare gaz metan, retelelor de apa si canal, ventilatie si climatizare, precum si al montajului de echipamente si utilaje tehnologice pentru consumatori industriali, comerciali sau casnici.
                            </p>
                        </div>
                    </div>
                </div>
                <div id="laboratordeincercari" class="cover" ng-class="{hovered: hoverEdit6, 'not-hovered': hoverEdit5}"
                     ng-mouseover="hoverEdit6 = true" ng-mouseleave="hoverEdit6 = false"
                     style="background-image:url('./resources/laborator de incercari.jpeg');"
                     ng-click="goToPage('root.portofoliu')">
                    <h2>Laborator de incercari</h2>
                    <!--<div class="cover" ng-class="{hovered: hoverEdit6, 'not-hovered': hoverEdit5}" ng-mouseover="hoverEdit6 = true" ng-mouseleave="hoverEdit6 = false" style="background-image:url('./resources/laborator de incercari.jpeg');">
                        <h2>Laborator de incercari</h2>-->
                    <div class="pull-down description">
                        <!--<p class="description-text hidemobile">
                            Detinem laborator de analize si incercari pentru constructii – gradul II, autorizat conform standardului de referinta SR EN ISO/ CEI 17025:2005/ AC:2007. Efectuam incercari pentru ANCFD - agregate naturale pentru lucrari de CF si drumuri, BBABP - pentru beton, beton armat si beton precomprimat, D – drumuri, F – finisaje, GTF – geotehnica si teren de fundare, MBM – materiale pentru beton si mortare, MD – material pentru drumuri si MTZ – mortare pentru tencuieli si zidarii.
                        </p>
                        <p class="description-text showmobile">-->
                        <p class="description-text">
                            Detinem laborator de analize si incercari pentru constructii – gradul II, autorizat conform standardului de referinta SR EN ISO/ CEI 17025:2005/ AC:2007. Efectuam incercari pentru ANCFD - agregate naturale pentru lucrari de CF si drumuri, BBABP - pentru beton, beton armat si beton precomprimat, D – drumuri, F – finisaje, GTF – geotehnica si teren de fundare, MBM – materiale pentru beton si mortare, MD – material pentru drumuri si MTZ – mortare pentru tencuieli si zidarii.
                        </p>
                    </div>
                </div>
            </div>
            <!--<div class="row">
              <div class="col-md-6 cover cover-left" ng-class="{'col-md-7': hover.left, 'col-md-5': hover.right}" ng-mouseenter="hover.left = true;" ng-mouseleave="hover.left = false;">
              </div>
              <div class="col-md-6 cover cover-right" ng-class="{'col-md-5': hover.left, 'col-md-7': hover.right}" ng-mouseenter="hover.left = false;" ng-mouseleave="hover.left = true;">>
              </div>
            </div>-->
        </div>
    </div>
</body>
</html>