<div ng-controller="NavCtrl">
    <nav class="navbar navbar-default navbar-fixed-top am-nav">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#home">
                    <img src="resources/logo opentrans12.svg" alt="OPENTRANS" style="height: 44px; width: 308px;" />
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li ng-class="{ active: isActive('/paginaPrincipala')}">
                        <a data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" href="./paginaPrincipala.html">Pagina principala</a>
                    </li>
                    <li ng-class="{ active: isActive('/inchiriereUtilaje')}">
                        <a data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" href="./inchiriereUtilaje.html">Inchirieri Utilaje</a>
                    </li>
                    <li ng-class="{ active: isActive('/portofoliuLucrari')}">
                        <a data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" href="./portofoliuLucrari.html">Portofoliu Lucrari</a>
                    </li>
                    <li ng-class="{ active: isActive('/despreNoi')}">
                        <a data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" href="./despreNoi.html">Despre noi</a>
                    </li>
                    <li ng-class="{ active: isActive('/contact')}">
                        <a data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" href="./contact.html">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>