<html>
<head>
    <title>Portofoliu lucrari. Drumuri si poduri. Amenajari exterioare. Constructii civile industriale si agricole.</title>
    <meta name="description" content="Portofoliul lucrarile realizate de firma OpenTrans in jurul orasului Cluj Napoca pe mai multe domenii de activitate:
            Drumuri si poduri, Amenajari exterioare, Constructii civile industriale si agricole, Inchiriei utilaje">
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
</head>

<body>
    <div class="container">
        <h2>Portofoliu lucrari</h2>
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#portofoliu#drumuriPoduri"><span style="font-size:20px"><strong>Drumuri si poduri</strong></span></a>
                    </h3>
                </div>
                <div id="drumuriPoduri" class="panel-collapse collapse in ">
                    <div class="panel-body">
                        <ul style="list-style-type:circle">
                            <li style="padding-bottom:5px">
                                <a ng-click="openSlider()" ><h4> Modernizare drumuri și platforme - Transilvania C-ții SA <sub> [vezi imagini]</sub></h4></a>
                            </li>
                            <li style="padding-bottom:5px">
                                <a> <h4> Realizare drumuri acces - ansamblu rezidențial str. Brăduțului, Cluj-Napoca</h4></a>
                            </li>
                            <li style="padding-bottom:5px">
                                <a><h4> Modernizare ulițe - Comuna Lăpuș</h4></a>
                            </li>
                            <li style="padding-bottom:5px">
                                <a> <h4> Lucrări de refacere carosabil, trotuare și spații verzi în urma lucrărilor executate de EON Distribuție România S.A. pe raza județului Cluj</h4></a>
                            </li>
                            <li style="padding-bottom:5px">
                                <a ng-click="openSlider()"> <h4> Realizare drumuri forestiere în comuna Mărgău</h4></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#portofoliu#amenajariExterioare"><span style="font-size:20px"><b>Amenajari exterioare</b></span></a>
                </h3>
            </div>
            <div id="amenajariExterioare" class="panel-collapse collapse in">
                <div class="panel-body">
                    <ul style="list-style-type:circle">
                        <li style="padding-bottom:5px">
                            <a> <h4>Amenajări exterioare - Novis Plaza Cluj</h4></a>
                        </li>
                        <li style="padding-bottom:5px">
                            <a> <h4>Parc Logistic TRC Cluj - JUCU: Acces incintă, drumuri și alei în incintă, parcări, spații verzi și împrejmuire</h4></a>
                        </li>
                        <li style="padding-bottom:5px">
                            <a> <h4>Amenajare alei în incintă și trotuare - Campus Școlar Petru Rareș Beclean</h4></a>
                        </li>

                        <li style="padding-bottom:5px">
                            <a> <h4>Amenajări exterioare - Construire pavilion Spital de boli psihice cronice Borșa</h4></a>
                        </li>

                        <li style="padding-bottom:5px">
                            <a> <h4>Lucrări de drenare și consolidare teren în zona investiției: Centru de îngrijire bătrâni în com. Coroieni, jud. Maramureș</h4></a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#portofoliu#constructiiCivile"><span style="font-size:20px"><b>Constructii civile, industriale si agricole</b></span></a>
                </h3>
            </div>
            <div id="constructiiCivile" class="panel-collapse collapse in">
                <div class="panel-body">
                    <ul style="list-style-type:circle">
                        <li style="padding-bottom:5px">
                            <a><h4>Execuție copertină metalică pentru control acces - Aeroportul Internațional Avram Iancu Cluj R.A</h4></a>
                        </li>
                        <li style="padding-bottom:5px">
                            <a> <h4>Hidroizolație clădire uzină electrică - Aeroportul Internațional Avram Iancu Cluj R.A.</h4></a>
                        </li>
                        <li style="padding-bottom:5px">
                            <a>  <h4>Construire hală metalică - Air liquid</h4></a>
                        </li>
                        <li style="padding-bottom:5px">
                            <a> <h4>Construire locuință semicolectivă cu două unități locative - pentru beneficiar privat</h4></a>
                        </li>
                        <li style="padding-bottom:5px">
                            <a><h4>Construire parc logistic TRC Cluj - Jucu: Clădire Hală depozitare (C1) regim de înălțime parter, înălțime utilă 11.5 m, suprafața construită 25.477,00 mp, Clădire Hală depozitare (C2) regim de înălțime parter, înălțime utilă 11.5 m, suprafața construită 5.365,00 mp, Clădire tehnică (C3), Casa poartă (C4), rezervoare metalice</h4></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div style="text-align:center">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/AUCIMg_WoaU" frameborder="0" allowfullscreen></iframe>
    </div>

</body>

</html>

