<html>
<head>
    <title>Portofoliu lucrari. Drumuri si poduri. Amenajari exterioare. Constructii civile industriale si agricole.</title>
    <meta name="description" content="Portofoliul lucrarile realizate de firma OpenTrans in jurul orasului Cluj Napoca pe mai multe domenii de activitate:
            Drumuri si poduri, Amenajari exterioare, Constructii civile industriale si agricole, Inchiriei utilaje">
</head>

<body>
    <div class="container">
        <style>
            @media (max-width:1200px) {
                .video {
                    height: 200px;
                    width: 300px;
                }
                .container
                {
                    padding-left:3px;
                    padding-right:3px;
                }

           .lista-lucrari{padding-left:10px}
            }

            @media (min-width:1200px) {
                .video {
                    height: 315px;
                    width: 560px;
                }
            }
        </style>
        <h2>Portofoliu lucrari</h2>
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span style="font-size:20px"><strong>Drumuri si poduri</strong></span>
                    </h3>
                </div>
                <div id="drumuriPoduri" class="panel-collapse collapse in ">
                    <div class="panel-body">
                        <ul style="list-style-type:circle" class="lista-lucrari">
                            <li style="padding-bottom:5px">
                                <a ng-click="openSlider('trc')"><h4> Modernizare drumuri si platforme - Transilvania C-tii SA</h4></a><!--<sub style="color:deepskyblue"> [vezi imagini]</sub>-->
                            </li>
                            <li style="padding-bottom:5px">
                                <a> <h4> Realizare drumuri acces - ansamblu rezidential str. Bradutului, Cluj-Napoca</h4></a>
                            </li>
                            <li style="padding-bottom:5px">
                                <a><h4> Modernizare ulite - Comuna Lapus</h4></a>
                            </li>
                            <li style="padding-bottom:5px">
                                <a> <h4> Lucrari de refacere carosabil, trotuare si spatii verzi în urma lucrarilor executate de EON Distributie România S.A. pe raza judetului Cluj</h4></a>
                            </li>
                            <li style="padding-bottom:5px">
                                <a  ng-click="openSlider('margau')"> <h4> Realizare drumuri forestiere in comuna Margau <sub style="color:deepskyblue"> [vezi imagini]</sub></h4></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <span style="font-size:20px"><b>Amenajari exterioare</b></span>
                </h3>
            </div>
            <div id="amenajariExterioare" class="panel-collapse collapse in">
                <div class="panel-body">
                    <ul style="list-style-type:circle" class="lista-lucrari">
                        <li style="padding-bottom:5px">
                            <a ng-click="openSlider('novis')"> <h4>Amenajari exterioare - Novis Plaza Cluj <sub style="color:deepskyblue"> [vezi imagini]</sub></h4></a>
                        </li>
                        <li style="padding-bottom:5px">
                            <a ng-click="openSlider('trc')"> <h4>Parc Logistic TRC Cluj - JUCU: Acces incinta, drumuri si alei în incinta, parcari, spatii verzi si imprejmuire <sub style="color:deepskyblue"> [vezi imagini]</sub></h4></a>
                        </li>
                        <li style="padding-bottom:5px">
                            <a ng-click="openSlider('beclean')"> <h4>Amenajare alei în incinta si trotuare - Campus Scolar Petru Rares Beclean <sub style="color:deepskyblue"> [vezi imagini]</sub></h4></a>
                        </li>

                        <li style="padding-bottom:5px">
                            <a> <h4>Amenajari exterioare - Construire pavilion Spital de boli psihice cronice Borsa</h4></a>
                        </li>

                        <li style="padding-bottom:5px">
                            <a> <h4>Lucrari de drenare si consolidare teren în zona investitiei: Centru de ingrijire batrani în com. Coroieni, jud. Maramures</h4></a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <span style="font-size:20px"><b>Constructii civile, industriale si agricole</b></span>
                </h3>
            </div>
            <div id="constructiiCivile" class="panel-collapse collapse in">
                <div class="panel-body">
                    <ul style="list-style-type:circle" class="lista-lucrari">
                        <li style="padding-bottom:5px">
                            <a><h4>Executie copertina metalica pentru control acces - Aeroportul International Avram Iancu Cluj R.A</h4></a>
                        </li>
                        <li style="padding-bottom:5px">
                            <a ng-click="openSlider('bazaTehnica')"><h4>Construire bază tehnică auto Corp 2 și Corp 3 <sub style="color:deepskyblue"> [vezi imagini]</sub></h4></a>
                        </li>
                        <li style="padding-bottom:5px">
                            <a> <h4>Hidroizolatie cladire uzina electrica - Aeroportul International Avram Iancu Cluj R.A.</h4></a>
                        </li>
                        <li style="padding-bottom:5px">
                            <a>  <h4>Construire hala metalica - Air liquid</h4></a>
                        </li>
                        <li style="padding-bottom:5px">
                            <a> <h4>Construire locuinta semicolectiva cu doua unitati locative - pentru beneficiar privat</h4></a>
                        </li>
                        <li style="padding-bottom:5px">
                            <a ng-click="openSlider('trc')"><h4>Construire parc logistic TRC Cluj - Jucu: Cladire Hala depozitare (C1) regim de inaltime parter, inaltime utila 11.5 m, suprafata construita 25.477,00 mp, Cladire Hala depozitare (C2) regim de înaltime parter, înaltime utila 11.5 m, suprafata construita 5.365,00 mp, Cladire tehnica (C3), Casa poarta (C4), rezervoare metalice <sub style="color:deepskyblue"> [vezi imagini]</sub></h4></a>
                        </li>
                        <li style="padding-bottom:5px">
                            <a> <h4>Lucrari de amenajari interioare Depozite 29-32 - Parc logistic TRC</h4></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <span style="font-size:20px"><b>Lucrari de instalatii</b></span>
                </h3>
            </div>
            <div id="instalatii" class="panel-collapse collapse in">
                <div class="panel-body">
                    <ul style="list-style-type:circle" class="lista-lucrari">
                        <li style="padding-bottom:5px">
                            <a ng-click="openSlider('instalatii_exterioare_trc')"><h4>Lucrari instalatii sanitare amenajari exterioare TRC Park CLUJ. <sub style="color:deepskyblue">[vezi imagini]</sub></h4></a>
                        </li>
                        <li style="padding-bottom:5px">
                            <a ng-click="openSlider('instalatii_exterioare_trc')"> <h4>Instalatii interioare la Depozite 29-32 - Parc logistic TRC.</h4></a>
                        </li>
                        <!--<li style="padding-bottom:5px">
                            <a ng-click="openSlider('instalatii')"> <h4>Lucrari de amenajari interioare Depozite 29-32 - Parc logistic TRC.<sub style="color:deepskyblue">[vezi imagini]</sub></h4></a>
                        </li>-->
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div style="text-align:center">
        <iframe class="video" src="https://www.youtube.com/embed/mChMrg1vgxI" frameborder="0" allowfullscreen></iframe>
    </div>
</body>

</html>
