<div class="panel-group" id="accordion">
    <div class="panel panel-default">


        <div class="panel panel-default">
            <!--<div class="panel-heading">
                <h3 class="panel-title">
                    <span style="font-size:20px"><b>Tags</b></span>
                </h3>
            </div>-->
            <div id="tags" class="panel-collapse collapse in">
                <div class="panel-body" >
                    <p>
                        <a href="./inchiriereUtilaje.html" style="color:darkgray">
                        excavator
                        </a>
                        <a href="./inchiriereUtilaje.html" style="color:darkgray">
                            betoniera
                        </a>
                        <a href="./inchiriereUtilaje.html"style="color:darkgray">
                            buldoexcavatoare
                        </a>
                        <a href="./inchiriereUtilaje.html"style="color:darkgray">
                            buldoexcavator
                        </a>
                        <a href="./inchiriereUtilaje.html"style="color:darkgray">
                            autoutilitare
                        </a>
                        <a href="./inchiriereUtilaje.html"style="color:darkgray">
                            buldozer
                        </a>
                        <a href="./inchiriereUtilaje.html"style="color:darkgray">
                            buldozere
                        </a>
                        <a href="./inchiriereUtilaje.html"style="color:darkgray">
                            miniexcavator
                        </a>
                        <a href="./inchiriereUtilaje.html"style="color:darkgray">
                            cat bulldozer
                        </a>
                        <a href="./inchiriereUtilaje.html"style="color:darkgray">
                            camioane
                        </a>
                        <a href="./inchiriereUtilaje.html"style="color:darkgray">
                            incarcator frontal
                        </a>
                        <a href="./inchiriereUtilaje.html"style="color:darkgray">
                            excavatoare
                        </a>
                        <a href="./inchiriereUtilaje.html"style="color:darkgray">
                            utilaje constructii
                        </a>
                        <a href="./inchiriereUtilaje.html"style="color:darkgray">
                            greder
                        </a>
                        <a href="./inchiriereUtilaje.html"style="color:darkgray">
                            cilindru compactor
                        </a>
                        <a href="./inchiriereUtilaje.html"style="color:darkgray">
                            foreza
                        </a>
                        <a href="./inchiriereUtilaje.html"style="color:darkgray">
                            macarale
                        </a>
                        <a href="./inchiriereUtilaje.html"style="color:darkgray">
                            buldozer
                        </a>
                        <a href="./inchiriereUtilaje.html"style="color:darkgray">
                            automacara
                        </a>
                        <a href="./inchiriereUtilaje.html"style="color:darkgray">
                            buldozer
                        </a>
                        <a href="./inchiriereUtilaje.html"style="color:darkgray">
                            incarcatoare frontale
                        </a>
                        <a href="./inchiriereUtilaje.html"style="color:darkgray">
                            automacarale
                        </a>
                        <a href="./inchiriereUtilaje.html"style="color:darkgray">
                            gredere
                        </a>
                        <a href="./inchiriereUtilaje.html"style="color:darkgray">
                            instalatie de forat
                        </a>
                        <a href="./inchiriereUtilaje.html"style="color:darkgray">
                            utilaje pentru constructii
                        </a>
                        <a href="./CONTACT.html"style="color:darkgray">
                            Cluj Napoca
                        </a>
                        <a href="./CONTACT.html"style="color:darkgray">
                            Opentrans SRL
                        </a>
                        <a href="./inchiriereUtilaje.html"style="color:darkgray">Inchiriere</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

