
<!DOCTYPE html>
<html>
<head>
    <script src="http://smtpjs.com/smtp.js">
    </script>

    <script type="text/javascript" src="https://cdn.emailjs.com/dist/email.min.js"></script>
    <script type="text/javascript">
   (function(){
      emailjs.init("user_VOtzoEw2lKT8vCO1OcQXr");
   })();
    </script>
</head>
<body ng-app="myApp">
    <form method="post" action="">
        <input type="text" id="email" name="name" required>
        <input type="button" value="Send Email" onclick="send()"  />
    </form>
   
</body>

</html>

<script type="text/javascript">
  function send() {
    emailjs.send("opentransservice","opentransemailtemplate",{name: "James", notes: "Check this out!"});
}

</script>