



<!DOCTYPE html>
<html>
<head>
    <script src="http://smtpjs.com/smtp.js">
    </script>
</head>
<body ng-app="myApp">
    <form method="post" action="">
        <input type="text" id="email" name="name" required>
        <input type="button" value="Send Email" onclick="send()"  />
    </form>
    <!-- Do not change the code! -->
    <a id="foxyform_embed_link_846162" href="http://www.foxyform.com/">foxyform</a>
    <script type="text/javascript">
(function(d, t){
   var g = d.createElement(t),
       s = d.getElementsByTagName(t)[0];
   g.src = "http://www.foxyform.com/js.php?id=846162&sec_hash=743cf3a4b99&width=350px";
   s.parentNode.insertBefore(g, s);
}(document, "script"));
    </script>


    <!-- Do not change the code! -->
    <a id="foxyform_embed_link_846164" href="http://www.foxyform.com/">foxyform</a>
    <script type="text/javascript">
(function(d, t){
   var g = d.createElement(t),
       s = d.getElementsByTagName(t)[0];
   g.src = "http://www.foxyform.com/js.php?id=846164&sec_hash=cb29db4bc95&width=350px";
   s.parentNode.insertBefore(g, s);
}(document, "script"));
    </script>
    <!-- Do not change the code! -->
</body>

</html>

<script type="text/javascript">
  function send() {
    Email.send("beni_titoc@yahoo.com",
"beni_titoc@yahoo.com",
"This is a subject",
"this is the body",
"smtp.gmail.com",
"titocbeniamin@gmail.com",
"bennuta1");
}


</script>