
@media (min-width:500px) {
    div.container {
        margin-right: 50px;
        margin-left: 50px;
        width: initial;
    }
}

@media (max-width: 500px) {
    div.container {
        margin-right: 10px;
        margin-left: 10px;
        width: initial;
    }
}

a.navbar-brand {
    padding: 0;
}

@media (max-width:1023px) {
    a.navbar-brand, a.navbar-brand img {
        width: 250px;
    }
}

img.am-nav {
}

nav.am-nav {
}

.home {
    font-family: 'Open Sans', sans-serif;
}

@media (min-width:1023px) {
    .home .cover {
        display: inline;
        float: left;
        width: 50%;
        transition: width 0.5s ease;
        height: 500px;
        background-position: right;
        position: relative;
    }

    .home h2 {
        color: white;
        font-size: 2.5em;
        font-weight: bold;
        padding: 15px;
        margin-top: 0;
        background-color: rgba(0, 0, 0, 0.8);
    }

        .home h2.black {
            color: black;
        }

    .home .pull-down {
        position: absolute;
        bottom: 0;
    }

    .home .description {
        min-height: 100px;
        background-color: rgba(0, 0, 0, 0.8);
        padding: 15px;
    }

        .home .description .description-text {
            font-size: 1em;
            line-height: 1.5625em;
            color: white;
            font-weight: bold;
        }

    .home .cover:hover .description {
        opacity: 1;
        transition: opacity 1s ease;
    }

    .home .cover .description {
        opacity: 0;
        transition: opacity 1s ease;
    }

    .home .hovered {
        width: 60% !important;
        transition: width 0.5s ease;
    }

    .home .not-hovered {
        width: 40% !important;
        transition: width 0.5s ease;
    }
}

img.am-nav {
    height: 50px;
}

nav.am-nav {
}

@media (max-width:1023px) {
    .home .cover {
        height: 500px;
        background-position: left;
        position: relative;
    }

    .home h2 {
        color: white;
        font-size: 30px;
        font-weight: bold;
        padding: 20px;
    }

        .home h2.black {
            color: black;
        }

    .home .pull-down {
        position: absolute;
        bottom: 0;
    }

    .home .description {
        min-height: 100px;
        background-color: rgba(0, 0, 0, 0.8);
        padding: 15px;
        opacity: 0.7;
    }

        .home .description .description-text {
            font-size: 1em;
            line-height: 1.2em;
            color: white;
            font-weight: bold;
        }
}

.modalImage .image-wrapper {
    text-align: center;
}

    .modalImage .image-wrapper img {
        max-width: 560px;
        max-height: 560px;
    }

.modalImage .image-description {
    text-align: center;
    margin-top: 10px;
}

.contact .adresa .departamente {
    font-size: 1.2em;
}

.contact li {
    padding-top: 7px;
}

.contact form fieldset {
    border: none;
}
